<span>
    <h3 class = "withdraw-label">Enter the amount you wish to withdraw: </h3>
</span>
<div>
    Amount:
    <input class="amount-text" name="withdrawInput " #amount /> <br>
</div>
<br>
<div class="error-message" *ngIf="this.errorMessageVisible">
    <b>{{error}}</b>
</div>
<div>
    <button class="withdraw-button" (click)="withdraw()">Withdraw! </button>
</div>
<br>

<div>
    <button class="check-balance-button" (click)="balance()">Go to Check Balance!</button>
</div>
<div>
    <div>
        <button class="sign-out" (click)="signOut()">Sign Out!</button>
    </div>
</div>