<span>
    <h3 class = "withdraw-label">Enter the amount you wish to withdraw: </h3>
</span>
<div style="color: white">
    Amount:
    <input class="amount-text" name="withdrawInput " /> <br>
</div>
<br>
<div class="error-message" *ngIf="this.errorMessageVisible" style="color: white">
    <b>{{error}}</b>
</div>
<div>
    <button class="withdraw-button" (click)="withdraw()" style="color: white">Withdraw! </button>
</div>
<br>

<div>
    <button class="check-balance-button" (click)="balance()" style="color: white">Go to Check Balance!</button>
</div>
<div>
    <div>
        <button class="sign-out" (click)="signOut()" style="color: white">Sign Out!</button>
    </div>
</div>