.sign-out {
    color: #2e2f3e;
    padding: 15px 25px;
    text-align: left;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
    top: 10px;
    right: 10px;
}

.sign-out:hover {
    background-color: #666;
}

.sign-out:active {
    background-color: #2e2f3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.withdraw-button {
    color: #2e2f3e;
    padding: 15px 25px;
    height: 50px;
    text-align: left;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.withdraw-button:hover {
    background-color: #666;
}

.withdraw-button:active {
    background-color: #2e2f3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.check-balance-button {
    color: #2e2f3e;
    padding: 15px 25px;
    height: 50px;
    text-align: left;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.check-balance-button:hover {
    background-color: #666;
}

.check-balance-button:active {
    background-color: #2e2f3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.error-message {
    padding-top: 20px;
    padding-bottom: 20px;
}

.withdraw-label {
    color: #FAEBEFFF;
}

.amount-text {
    color: rgb(105, 69, 79);
}